#EX: https://testnet.binance.vision/api
BINANCE_API_URL=

#Ex: wss://ws-api.testnet.binance.vision/ws-api/v3
BINANCE_WS_URL=

#Ex: https://www.youtube.com/watch?v=2O4qwEVJyu8
TRADER0_API_KEY=

#Ex: https://www.youtube.com/watch?v=2O4qwEVJyu8
TRADER0_API_SECRET=

# For each copy trader, add a pair of...
# TRADER1_API_KEY=
# TRADER1_API_SECRET=